:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0630ac;
    --secondary-color: #2263ee;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
