.starRatingRedesigned {
    cursor: pointer;

    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--icon-redesigned);
    }
}

.selected {
    cursor: auto;
}

.starIcon {
    cursor: pointer;
}
